<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="https://www.nuget.org/api/v2/" value="https://www.nuget.org/api/v2/" />
    <add key="jmj-nuget.ci" value="https://jmjohnson85.pkgs.visualstudio.com/_packaging/jmj-nuget.ci/nuget/v3/index.json" />
    <add key="jmj-nuget.release" value="https://jmjohnson85.pkgs.visualstudio.com/_packaging/jmj-nuget.release/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="https://www.nuget.org/api/v2/" value="true" />
  </disabledPackageSources>
</configuration>
